.container{
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 64px;
  
}

.container h1{
  margin: 40px 0px;
  font-size: 30px;
  font-family: 'roboto-bold';
  text-align: center;
}