.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input{
    border-radius: 5px;
    border: 2px solid rgb(190, 190, 190);
    background-color: rgb(245, 244, 244);
    padding: 5px;
}

.form button {
    font-size: 16px;
    padding: 5px 10px;
    margin: 0px 10px;
    background-color: #FD4E59;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.233);
    font-family: 'roboto-bold';
    cursor: pointer;
}

.ldsRing {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(175, 175, 175) transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ldsRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 900px){
  .form input{
    width: 400px;
    padding: 10px;
}
.form button{
  padding: 10px;
}
}